:root {
  --background: antiquewhite;
  --highlight: rgb(221 196 157);
  --text: #606060;
  --link: rgb(200, 133, 231);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.home-link {
  color: var(--text);
  font-size: 130%;
  text-align: center;
}

.home-link a {
  color: var(--text);
  text-decoration: underline;
}

.home-link a:hover {
  text-shadow: none;
  text-decoration: none;
}

h1, h2 {
  color: black;
}

/*****************************/
/* NAVBAR */
.navbar {
  color: black;
  border-bottom: 1px solid var(--highlight);
  padding: 0.3em;
}

.navbar a {
  color: black;
}
/******************************/

.main, .home-main {
  padding: 0 0.5em;
  padding-bottom: 3em;
}

.about {
  padding: 3em 0 0;
  text-align: center;
}

#profile-img {
  width: 8em;
  border-radius: 100%;
  border: solid 5px var(--text);
}

#socials {
  list-style: none;
  padding: 0;
}

#socials li {
  display: inline;
  margin: 0 0.5em;
}

#socials img {
  max-width: 30px;
  width: 11vw;
}

.projects {
  margin-top: 2em;
}

/************ PROJECT TAGS ****************/

.tag-names {
  margin-bottom: 1em;
  line-height: 26px;
}

.tag {
  font-size: small !important;
  border-radius: 1rem;
  padding: 2px 5px;
  color: white !important;
  white-space: nowrap;  /* Prevent line breaks within tags */
}

.tag:hover {
  cursor: pointer;
}

.selected-tag {
  border: solid 3px white;
}

.python-tag {
  background-color: #648adb;
}

.web-dev-tag {
  background-color: #64a3b3;
}

.game-dev-tag {
  background-color: #579b71;
}

.embedded-sys-tag {
  background-color: darkcyan;
}

.ml-tag {
  background-color: rgb(196, 102, 163);
}

.java-tag {
  background-color: #d79418;
}

.js-tag {
  background-color: #e1c422;
}

.cpp-tag {
  background-color: #9782bf;
}

/**************************************/

.image-square, .image-left, .image-right {
  width: 50%;
}

.image-horizontal {
  display: block;
  width: 100%
}

iframe {
  width: 100%;
  border: solid 1px var(--text);
  background: black;
}

.cards {
  display: flex;
	flex-direction: column;
}

.cards a {
  text-decoration: initial;
  color: initial;
}

/* CARD THUMBNAILS */

.card-box * {
  color: var(--text);
  margin: 0;
  font-family:'Open Sans', sans-serif;
}

.card-box {
  margin-top: 1em;
	margin-bottom: 25px;
}

.card-box b { color: black; }

.card-box:hover b {
  text-decoration-line: underline;
}

@media only screen and (min-width: 481px) {
  /* For tablets */
  .image-square {
    width: 35%;
  }

  .image-horizontal {
    width: 65%;
  }

  .image-left {
    display: inline;
    width: 30%;
    float: left;
    margin: 0 1em 1em 0;
  }

  .image-right {
    display: inline;
    width: 30%;
    float: right;
    margin: 0 0 1em 1em;
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  iframe {
    max-width: 100%;
    width: 560px;
    height: 315px;
  }

  .home-link {
    text-align: left;
  }
}

@media only screen and (min-width: 769px) {
  /* For laptops and small screens */
  .main {
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 3em;
  }

  .home-main {
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 3em;
  }

  /* Includes all project titles */
  .about, .home-main b {
    font-size: 110%;
  }
}